<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/pannelHead {user: user , page: page}%>
</head>

<body>
    <div class="wrapper">
        <% include ../partials/pannelSide {user: user , page: page}%>
            <div class="main-panel">
                <!-- Navbar -->
                <% include ../partials/pannelTopNavbar {user: user , page: page}%>
                    <!-- End Navbar -->
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">gallery Profile</h4>
                                        </div>
                                        <div class="card-body">

                                            <%for(i=0;i < images.length; i++){%>
                                            <div class="img-wrap">
                                                <span class="close">&times;</span>
                                                <img class="gallery" src="/upload/<%= images[i] %>" data-id="<%=images[i]%>">
                                                <label class="galleryLabel"><%= user[0].username %></label>
                                            </div>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% include ../partials/pannelFooter {user: user , page: page}%>
            </div>
    </div>

</body>
<% include ../partials/pannelCore {user: user , page: page}%>

</html>