<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/pannelHead {user: user , page: page}%>
    	<!-- Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
</head>

<body>
    <div class="wrapper">
        <% include ../partials/pannelSide {user: user , page: page}%>
        <div class="main-panel">
            <!-- Navbar -->
            <% include ../partials/pannelTopNavbar {user: user , page: page}%>
            <!-- End Navbar -->
            <div class="map-container">
                <p id="map"></p>
                <div id="mapholder">
                </div>
            </div>
            <% include ../partials/pannelFooter {user: user , page: page}%>
        </div>
    </div>

</body>
<% include ../partials/pannelCore {user: user , page: page}%>
<script src="js/map.js"></script>
</html>